@model WashingCar.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <h3>Iniciar Sesión</h3>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" type="email" class="form-control" placeholder="name@example.com"/>
                <label asp-for="Username" class="form-label"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                <label asp-for="Password" class="control-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Iniciar Sesión" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}